/*---------Seccion3 -----------*/
.Texto1 {
  font-size: 30px;
}

.Texto3 {
  font-size: 50px;
  font-weight: bold;
}

.Texto5 {
  font-size: 30px;
}

.ContenedorTexto {
  padding: 5%;
}

.ContenedorTexto img {
  border-radius: 10px;
  height: 250px;
}

/*---------Seccion 4 -----------*/
.Text1 {
  font-size: 30px;
}

.Text2 {
  font-size: 50px;
  font-weight: bold;
}

.Text3 {
  font-size: 20px;
}

.Text4 {
    font-size: 20px;
  }

.Text5 {
    font-size: 30px;
}
.ContenedorCurso img {
  margin-left: 25px;
  border-radius: 10px;
  height: 350px;
}

/*---------Botones -----------*/

.ContenedorBotoncitos .ant-btn.ant-btn-link{
  background-color: rgb(21, 143, 32);
  border-radius: 15px;
  color: white;
}

/*---------Cards-----------*/

